<html>
<head>
    <title>Course List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <h1>List of courses</h1>
    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Leader</th>
            <th scope="col">Tuition fee</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{course.name}}</td>
            <td>{{course.subject}}</td>
            <td>{{course.leader}}</td>
            <td>{{course.tuition_cost}}</td>
        </tr>
        {% endfor %}
    </table>
    <button type="button" class="btn btn-primary" onclick="window.location.href='../';">
        Back to home page
    </button>
</body>
</html>