<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<form action="/Enroll" method="post">
    <div class="form-group">
        <label for="course">Course:</label>
        <select name="course_id" id="course" class="form-control">
            {% for course in courses %}
            <option value="{{course.id}}">{{course.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="student">Student</label>
        <select name="student_id" id="student" class="form-control">
            {% for student in students %}
            <option value="{{student.student_id}}">{{student.name}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Enroll</button>
</form>
<button type="button" class="btn btn-primary" onclick="window.location.href='../';">
    Back to home page
</button>
</body>
</html>