<html>
<head>
    <title>Student profile: {{student.name}}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    Name: {{student.name}}<br>
    Email: {{student.email}}<br>
    Student ID: {{student.student_id}}<br>
    {% if let Some(number) = student.phone_number %}
    Phone number: {{number}}<br>
    {% else %}
    Student does not have a registered phone number.<br>
    {% endif %}
    Home address: {{student.address}}<br>
    {% if let Some(account) = finance %}
    Has outstanding balance: {{account.hasOutstandingBalance}}<br>
    {% else %}
    Student does not have finance account.<br>
    {% endif %}
    <button type="button" class="btn btn-primary" onclick="window.location.href='../';">
        Back to home page
    </button>
</body>
</html>